__pycache__/
__pycache__
*.pyc
*.pyo
.env
.vscode/
.DS_Store
logs/
.venv/
node_modules/
dist/
build/
*.log
coverage
*.sqlite3
.idea/
*.iml
*.swp
*.bak
*.tmp
*.out
*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.so
*.dylib
*.zip
*.tar.gz
*.rar
